<%- include("../../partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentSpecial.css">
<body>
   <%- include("../../partials/nav.ejs") %>
   
   <div class="section">
      <%- include("../../partials/sidenav.ejs") %>
      <main>
         <% if(users.length>0){ %>
            <% users.forEach(user=> { %>
               <div class="wrapper">
                  <div class="left">
                     <h2> <%= user.name %> </h2>
                     <h4><%= user.description %> </h4>
                  </div>
                  <div class="right">
                     <div class="info">
                        <h3>Thông tin</h3>
                        <div class="info_data">
                           <div class="data">
                              <h4>Email </h4>
                              <p><%= user.email %> </p>
                           </div>
                           <div class="data">
                              <h4>Số điện thoại</h4>
                              <p><%= user.phone %> </p>
                           </div>
                           <div class="data">
                              <h4>Giới tính</h4>
                              <p><%= user.gender %> </p>
                           </div>
                        </div>
                     </div>
                     <div class="social_media">
                        <ul style="list-style: none;">
                           <li><a href="<%= user.facebook %> "><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                           <a class='button' href="/appointmentcalendar/<%= user._id %>">
                              Chọn
                           </a>
                 
                        </ul>
                     
               </div>
         </div>
     </div>
     <% }) %>
     <% }else{%>
       <p>Chuyên khoa chưa có bác sĩ</p>
       <% } %>
</div>

</main>
<div>

</body>
</html>