<%- include("../../partials/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/appointmentForm.css">
<body>
   <%- include("../../partials/nav.ejs") %>
   
   <div class="section">
      <%- include("../../partials/sidenav.ejs") %>
      <div class="container">
        <div class="LichHen">
            <p>Quý khách vui lòng xem kỹ lại các thông tin đã chọn và điền đúng thông tin cá nhân. Bệnh viện sẽ tiến hành liên lạc với quý khách trong vòng 15-30p để xác nhận lịch hẹn của quý khách. Nếu có thắc mắc, quý khách có thể gọi đến tổng đài 1900555553 để được hỗ trợ. Da liễu Sài Gòn xin cảm ơn quý khách !!
            </p>
            <div class="btn123">
                <p>Bạn đã chọn dịch vụ:  <%= specialization.specializations  %> </p>
                <p>Giá khám bệnh:  <%= specialization.price  %> </p>
                <p>Bác sĩ:  <%= doctor.name  %>  </p>
                <p>Ngày: <%=schedule.date.toString().split(" 0")[0] %>  </p>
                <p><%= schedule.hour  %>  </p>
                <p>Giới hạn chỗ: <%= schedule.bookingSlot%>  </p>
            </div>
        </div>
       

       <div class="container-form">
          <form action="/appointmentform">
             <h2 class="heading heading-yellow">Đặt lịch</h2>

             <div class="form-field">
                <p>Họ và tên</p>
                <input type="text" name="fullname" placeholder="<%=user.name %>" value="<%=user.name %>" required="required">
             </div>
             <div class="form-field">
                <p>Số điện thoại</p>
                <input type="text" name="phone" placeholder="<%=user.phone %>" value="<%=user.phone %>" required="required">
             </div>
             <div class="form-field">
                <p>Ngày sinh</p>
                <input type="date" name="birthday"  required="required">
             </div>
             <div class="form-field">
             <p>Địa chỉ</p>
             <input type="text" name="address"  required="required">
          </div>  
          <div class="form-field">
            <p>Giới tính</p>
            <select name="gender" id="gender">
               <option value="<%=user.gender %>"><%=user.gender %></option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>

              </select>
         </div>  

           <div class="form-field">
              <p>Triệu chứng</p>
              <textarea name="note" id="note"> </textarea>
            </div>
            <input type="hidden" name="user_id" value="<%= user._id%>">
            <input type="hidden" name="schedule_id" value="<%= schedule._id%>">
            <input type="hidden" name="doctor_id" value="<%= doctor._id%>">
           <button class="btn">Xác nhận</button>
           
           
          </form>
       </div>
       
    </div>
   
</div>



<script>
      const form = document.querySelector('form');
      form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const fullname = form.fullname.value;
         const phone = form.phone.value;
         const birthday = form.birthday.value;
         const gender = document.getElementById("gender").value;
         const address = form.address.value;
         const note =document.getElementById("note").value;
         const user_id = form.user_id.value;
         const schedule_id = form.schedule_id.value;
         const doctor_id = form.doctor_id.value;
         try{
            const res = await fetch('/appointmentform',{
               method:'POST',
               body:JSON.stringify({fullname,phone,birthday,gender,address,note,user_id,schedule_id,doctor_id}),
               headers:{'Content-Type':'application/json'} 
            })
            const data =await res.json();

            if(data.appointment){
               location.assign('/appointmentinfo');
            }else{
               console.log(err);
            }

         }catch(err){
            console.log(err);
         }
      })
</script>


</body>
</html>