<%- include("./partials/head.ejs") %>
<style>
    .section{
        align-items: center;
         justify-content: center;
         text-align: center;
       
    }
     .content-tag {
        
         width: 50%;
                  display: grid; 
         grid-template-columns: repeat(3,1fr);
         grid-column-gap: 30px;
         grid-row-gap: 30px;
         margin:20px auto;
        
    }
    .container4{
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 25px rgb(0 0 0 /20%);
	word-break: break-all;
    }

    .container4__infor{
        margin-top: auto;
    }
    .container4:hover{
      
        transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
    }
    .container4 img{
        width: 100%;
        flex-shrink: 0;
    }

.container4 p{
        color: #F54291;
        font-weight: 600;
    }
  


    @media(max-width: 1000px){
        .content-tag{
            grid-template-columns: repeat(2,1fr);
            width: 80%;
        }
    }

    @media(max-width: 700px){
        .content-tag{
            width: 80%;
            grid-template-columns: repeat(1,1fr);
        }
    }
</style>
<body>
   <%- include("./partials/nav.ejs") %>

   
<div class="section">

  <h2 style="color:#ff0162b2 ;">Đội ngũ bác sĩ bệnh viện da liễu Sài Gòn</h2>
   <div class = "content-tag">
 
    <% if(admins.length>0){ %>
        <% admins.forEach(admin=> { %>
    <div class="container4" >
   
    <img src="/HinhAnh/<%=admin.facebook%>" /> 
    <div class="container4__infor">
        <p style="margin:10px">Họ tên: <%=admin.name%></p>
        <p style="margin: 10px;">MSSV: <%=admin.country%> </p>
    </div>
    </div>

    <% }) %>
    <% }%>
</div> 

</div>
<%- include("./partials/footer.ejs") %>

</body>
</html>
