<%- include("./partials/head.ejs") %>

<link rel="stylesheet" href="/css/adminPageUserAccount.css">
<body>
   <%- include("./partials/nav.ejs") %>
    <section>
      <%- include("./partials/sidebarAdminPage.ejs") %> 
        <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Email</p>
            </div>
      
            <div class="table-cell ">
                <p>Role</p>
            </div>
            <div class="table-cell ">
              <p>Phân phòng khám</p>
          </div>
            <div class="table-cell last-cell">
              <p>Chi tiết</p>
          </div> 
        </div>
        <% if(users.length>0){ %>
            <% users.forEach(user=> { %>
        <div class="table-row">
            <div class="table-cell first-cell">
                <p><%= user.email %></p>
            </div>
        
          <div class="table-cell">
            <p><%= user.role %></p>
        </div>
        <div class="table-cell">
          <a class="detail" href="/adminPageDoctorAccountDetails/<%= user._id %>" >Phân phòng khám</a>
        </div>
       <div class="table-cell last-cell">
        <a class="detail" href="/adminPageDoctorAccountDetail/<%= user._id %>" >Phân chuyên khoa</a>
        <a class="trashBin" data-doc="<%= user._id %>" > 
          <img src="/HinhAnh/trash.png" alt="#" >
        </a>
      </div>   
        </div>
        <% }) %>
        <% }else{%>
          <p>Không có tài khoản nào nào...</p>
          <% } %>
    </div>
     </section>


<script>
   const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
      const id = `/adminPageDoctorAccount/${trashBin.dataset.doc}`;
      fetch(id,{
      method:'DELETE',
    }).then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
    })
    })


</script>







</body>
</html>