<%- include("./partials/head.ejs") %>

<link rel="stylesheet" href="/css/adminPageUserAccount.css">
<body>
   <%- include("./partials/nav.ejs") %>
    <section>
        <%- include("./partials/sidebaradminPage.ejs") %>
        <div class="table-box">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Tên phòng</p>
            </div>
            <div class="table-cell">
              <p>Ngày tạo phòng</p>
          </div>
          <div class="table-cell">
            <p>Mã bác sĩ</p>
        </div>
          
            <div class="table-cell last-cell">
              <p>Chi tiết</p>
          </div> 
        </div>
        <% if(clinics.length>0){ %>
            <% clinics.forEach(clinic=> { %>
        <div class="table-row">
            <div class="table-cell first-cell">
                <p><%= clinic.name %></p>
            </div>
            
            <div class="table-cell">
              <p><%= clinic.createdAt %></p>
          </div>
          <div class="table-cell">
            <p><%= clinic.doctor_id %></p>
        </div>
       <div class="table-cell last-cell">
        <a class="trashBin" data-doc="<%= clinic._id %>" > 
          <img src="/HinhAnh/trash.png" alt="#" >
        </a>
      </div>   
        </div>
        <% }) %>
        <% }else{%>
          <p>Không có phòng khám nào...</p>
          <% } %>
    </div>
     </section>


<script>
   const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
      const id = `/adminPageClinic/${trashBin.dataset.doc}`;
      fetch(id,{
      method:'DELETE',
    }).then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
    })
    })


</script>







</body>
</html>