<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/adminpage.css">
   
   <body>
      <%- include("./partials/nav.ejs") %>
<div class="section">
   <%- include("./partials/sidebarAdminPage.ejs") %>
   <main>
      <div class="main__container">

        <div class="main__title">
          <div class="main__greeting">
            <h1>Hello Admin <%=user.email %></h1>
            <p>Welcome to your admin dashboard</p>
          </div>
        </div>

        <div class="main__cards">

          <div class="card">
            <i
            class="fa fa-user fa-2x"
              aria-hidden="true" style="color: #FFC7C7;"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Tài khoản bệnh nhân</p>
              <span class="font-bold text-title"> <%= userpatient.length %> </span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-user-nurse fa-2x text-yellow" style="color: #FFC7C7;"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Số bác sĩ</p>
              <span class="font-bold text-title"><%= userdoctor.length %></span>
            </div>
          </div>
          <div class="card">
            <i
              class="fa fa-book-medical fa-2x " style="color: #FFC7C7;"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Số chuyên khoa</p>
              <span class="font-bold text-title"><%= specializations.length %> </span>
            </div>
          </div>
          <div class="card">
            <i class="fa fa-door-open fa-2x text-red" aria-hidden="true" style="color: #FFC7C7;"></i>
            <div class="card_inner">
              <p class="text-primary-p">Số phòng khám</p>
              <span class="font-bold text-title"> <%= clinics.length %>  </span>
            </div>
          </div>
        </div>

        <div class="charts">
          
          <div class="charts__left">
            <div class="charts__left__title">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex1"></div>
          </div>

          <div class="charts__right">
            <div class="charts__right__title">
              <div>
                <h1>Bảng thống kê</h1>
              </div>
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>

            <div class="charts__right__cards">
              <div class="card1">
                <h2>Nhà sáng lập</h2>
                <p> <%=admins.length %> </p>
              </div>

              <div class="card2">
                <h2>Số bài đăng trên website</h2>
                <p>100</p>
              </div>

              <div class="card3">
                <h2>Thu nhập từ đơn khám bệnh</h2>
                <p><%= comAppointments.length*500000  %> VND</p>
              </div>

              <div class="card4">
                <h2>Lịch hẹn đã khám</h2>
                <p> <%=comAppointments.length  %> </p>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </main>

</div>

<script>
    const appointments =  <%- JSON.stringify(appointments) %> ;
    var numberAppointment= [];
    var frequency = []
    var firstDay = '';
     for( i=0; i<appointments.length ; i++){
        if( appointments[i].createdAt.toString().split("T")[0] 
        != firstDay){
          frequency.push(1);
          numberAppointment.push(appointments[i].createdAt.toString().split("T")[0])
        }else{
          frequency[frequency.length-1]++
        }
        firstDay=appointments[i].createdAt.toString().split("T")[0];
       }
    var options = {
          series: [{
            name: "Tổng lịch hẹn",
            data: frequency
        }],
          chart: {
          height: 250,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Biểu đồ lịch hẹn theo ngày',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories:numberAppointment,
        }
        };

var chart = new ApexCharts(document.querySelector("#apex1"), options);
chart.render();
    
</script>
</body>
</html>