<%- include("./partials/head.ejs") %>
   <link rel="stylesheet" href="/css/adminpage.css">
   
   <body>
      <%- include("./partials/nav.ejs") %>
<div class="section">
   <%- include("./partials/sidebarAdminPage.ejs") %>
   <main>
      <div class="main__container">

        <div class="main__title">
          <div class="main__greeting">
            <h1>Hello Admin</h1>
            <p>Welcome to your admin dashboard</p>
          </div>
        </div>

        <div class="main__cards">
          <div class="card">
            <i
            class="fa fa-user fa-2x"
              aria-hidden="true" style="color: #FFC7C7;"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Tài khoản bệnh nhân</p>
              <span class="font-bold text-title"> <%= userpatient.length %> </span>
            </div>
          </div>

          <div class="card">
            <i
              class="fa fa-user-nurse fa-2x text-yellow" style="color: #FFC7C7;"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Số bác sĩ</p>
              <span class="font-bold text-title"><%= userdoctor.length %></span>
            </div>
          </div>
          <div class="card">
            <i
              class="fa fa-book-medical fa-2x " style="color: #FFC7C7;"
              aria-hidden="true"
            ></i>
            <div class="card_inner">
              <p class="text-primary-p">Số chuyên khoa</p>
              <span class="font-bold text-title"><%= specializations.length %> </span>
            </div>
          </div>
          <div class="card">
            <i class="fa fa-door-open fa-2x text-red" aria-hidden="true" style="color: #FFC7C7;"></i>
            <div class="card_inner">
              <p class="text-primary-p">Số phòng khám</p>
              <span class="font-bold text-title"> <%= clinics.length %>  </span>
            </div>
          </div>

        

         
        </div>

        <div class="charts">
          <div class="charts__left">
            <div class="charts__left__title">
              <div>
                <h1>Đơn hủy bỏ & đã khám</h1>
              </div>
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex1"></div>
          </div>

          <div class="charts__right">
            <div class="charts__right__title">
              <div>
                <h1>Bảng thống kê</h1>
              </div>
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>

            <div class="charts__right__cards">
              <div class="card1">
                <h2>Nhà sáng lập</h2>
                <p>1</p>
              </div>

              <div class="card2">
                <h2>Số bài đăng trên website</h2>
                <p>100</p>
              </div>

              <div class="card3">
                <h2>Thu nhập từ đơn khám bệnh</h2>
                <p><%= comAppointments.length*500000  %> VND</p>
              </div>

              <div class="card4">
                <h2>Số lịch hẹn</h2>
                <p> <%=appointments.length  %> </p>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    const appointments =  <%- JSON.stringify(allAppointments) %> ;
    var numberAppointment = [];
    var dayAppointment ="";
    var k =1;
    Array.from(appointments).forEach((appointment)=>{
      let i = appointment.createdAt.toString().split("T")[0];
      if (i==dayAppointment){
        k++;
        dayAppointment=i;
      }
  })
   
    var options = {
          series: [{
            name: "Desktops",
            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
        }],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Product Trends by Month',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        xaxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
        }
        };
 
//      var options = {
//   series: [
//     {
//       name: "Hủy bỏ",
//       data: [i],
//     },
//     {
//       name: "Chấp nhận",
//       data: [j],
//     },
//     {
//       name: "Đã khám",
//       data: [k],
//     },
//   ],
//   chart: {
//     type: "bar",
//     height: 250, 
//     sparkline: {
//       enabled: true, 
//     },
//   },
//   plotOptions: {
//     bar: {
//       horizontal: false,
//       columnWidth: "55%",
//       endingShape: "rounded",
//     },
//   },
//   dataLabels: {
//     enabled: false,
//   },
//   stroke: {
//     show: true,
//     width: 2,
//     colors: ["transparent"],
//   },
//   xaxis: {
//     categories: ["Feb","Nghi"],
//   },
//   yaxis: {
//     title: {
//       text: "Đơn hẹn",
//     },
//   },
//   fill: {
//     opacity: 1,
//   },
//   tooltip: {
//     y: {
//       formatter: function (val) {
//         return  + val + " Đơn hẹn";
//       },
//     },
//   },
// };

var chart = new ApexCharts(document.querySelector("#apex1"), options);
chart.render();
    
</script>
</body>
</html>