<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="section">
    <%- include("./partials/sidebarAdminPage.ejs") %>
    <div class="table-box">
      <div class="box">
        <input type="checkbox" id="check">
        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm theo tên" id='searchBar'>
          <label for="check" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </div>
      </div>
      <table class="content-table">
      <thead>
        <tr>
          <th>Mã lịch hẹn</th>
          <th>Trạng thái
            <select name="" id="" style="border-radius:5px ;">
              <option ></option>
              <option value="all">Hủy bỏ</option>
              <option value="all">Đang chờ</option>
              <option value="all">Chấp nhận</option>
              <option value="all">Đã khám</option>
            </select>
          </th>
          <th>Chi tiết</th>
          <th>Đơn thuốc</th>


        </tr>
      </thead>
      <tbody>
        <% if(appointments.length>0){ %>
          <% appointments.forEach(appointment=> { %>
        <tr>
          <td><%=appointment._id%></td>
          <td><%=appointment.status%></td>
          <td>
            <a class="detail" href='/adminPageAppointmentDetail/<%= appointment._id %>' >Xem chi tiết</a>
          </td>
          <td>
            <a class="detail" href='/adminPagePreDetail/<%= appointment._id %>' >Xem đơn thuốc</a>
          </td>
         

 
         
        </tr>
        <% }) %>
        <% }else{%>
          <p>Không có lịch hẹn nào...</p>
          <% } %>
       
      </tbody>
    </table>
    
      </div> 
    </div>
  

    <script>
          const searchInput = document.getElementById("searchBar");
      const rows = document.querySelectorAll("tbody tr");
      searchInput.addEventListener("keyup", (e)=> {
        const q = e.target.value.toLowerCase();
        Array.from(rows).forEach((row) => {
          const firstSearchItem = row.firstElementChild.textContent;
          if(firstSearchItem.toLowerCase().indexOf(e.target.value) != -1){
            row.style.display = 'table-row';
          } else {
            row.style.display = 'none';
      }
        });
      });
    </script>
</body>
</html>