<%- include("./partials/head.ejs") %>
<style>
.section{
   display: flex;
   width: 100%;
   background: #fff;
}
main{  
	width: 90%;
   /* margin: 10px 50px; */
   margin-right: 50px;
   padding: 20px 35px;

}
.wrapper{
   display: inline-block;
   width: 45%;
  align-items: center;
  margin-right: 30px ;
  margin-bottom: 50px ;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
   }
   .wrapper .left{
      background: #538c51;
      text-align: center;
      color: #edf0f5;
   }
   .wrapper .left h4{
   margin-bottom: 10px;
   }
   .wrapper .left p{
   font-size: 12px;
   }

   .wrapper .right{

   background: linear-gradient(#F29BD4,#f2b6dd);
   padding: 30px 25px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   }

   .wrapper .right .info,
   .wrapper .right .projects{
   margin-bottom: 25px;
   }

   .wrapper .right .info h3,
   .wrapper .right .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #fff;
   text-transform: uppercase;
   letter-spacing: 5px;
   }

   .wrapper .right .info_data,
   .wrapper .right .projects_data{
   display: flex;
   justify-content: space-between;
   }

   .wrapper .right .info_data .data,
   .wrapper .right .projects_data .data{
   width: 45%;
   }

   .wrapper .right .info_data .data h4,
   .wrapper .right .projects_data .data h4{
      color: #fff;
      margin-bottom: 5px;
   }
   .wrapper .right .info_data .data p,
   .wrapper .right .projects_data .data p{
   font-size: 13px;
   margin-bottom: 10px;
   color: #fff;
   }

   .wrapper .social_media ul{
   display: flex;
   }

   .wrapper .social_media ul li{
   width: 45px;
   height: 45px;
   background: linear-gradient(to left, #538c51,#9EBF99);
   margin-right: 10px;
   border-radius: 5px;
   text-align: center;
   line-height: 45px;
   }

   .wrapper .social_media ul li a{
   color :#fff;
   display: block;
   font-size: 18px;
   }

   .wrapper .social_media ul  .button{
   color: #fff;
   text-align: center;
   text-decoration: none;
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, 0.5);
   text-transform: uppercase;
   padding: 12px 20px;
   min-width: 200px;
   min-height: 30px;
   margin: 5px 30px;
   cursor: pointer;
   transition: color 0.4s linear;

  background: linear-gradient(to top, #538c51,#9EBF99);
  font-weight: bold;
   }
  
   .wrapper .social_media ul li:hover{
      transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
   }
   .wrapper .social_media ul .button:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

</style>
<body>
   <%- include("./partials/nav.ejs") %>
   
   <div class="section">
      <%- include("./partials/sidenav.ejs") %>
      <main>

         <% if(users.length>0){ %>
            <% users.forEach(user=> { %>
      <div class="wrapper">
         <div class="left">
             <h2> <%= user.name %> </h2>
              <h4><%= user.description %> </h4>
         </div>
         <div class="right">
             <div class="info">
                 <h3>Thông tin</h3>
                 <div class="info_data">
                      <div class="data">
                         <h4>Email </h4>
                         <p><%= user.email %> </p>
                      </div>
                      <div class="data">
                        <h4>Số điện thoại</h4>
                         <p><%= user.phone %> </p>
                   </div>
                   <div class="data">
                     <h4>Giới tính</h4>
                      <p><%= user.gender %> </p>
                </div>
                 </div>
             </div>
           
             <div class="social_media">
                 <ul style="list-style: none;">
                   <li><a href="<%= user.facebook %> "><i class="fab fa-facebook-f"></i></a></li>
                   <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                   <a class='button' href="/appointmentcalendar/<%= user._id %>">
                   Chọn
                  </a>
                  </ul>
               </div>
         </div>
     </div>
     <% }) %>
     <% }else{%>
       <p>Chuyên khoa chưa có bác sĩ</p>
       <% } %>
</div>

</main>
<div>

</body>
</html>