<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/Appointment.css">
<body>
   <%- include("./partials/nav.ejs") %>
   
   <div class="section">
      <%- include("./partials/sidenav.ejs") %>
      <main>
         <table>
            <thead>
               <tr>
                  <th>Chọn chuyên khoa</th>
                  <th>Giá khám bệnh</th>
          
               </tr>
            </thead>
            <tbody>
               <% if(specializations.length>0){ %>
                  <% specializations.forEach(specialization=> { %>
               <tr>
                  <td> <a href="appointmentSpecial/<%= specialization._id %>"><%= specialization.specializations %></a>  </td>
                  <td > <a><%= specialization.price%> VND </a></td>

               </tr>
               <% }) %>
               <% }else{%>
                 <p>Không có chuyên khoa nào...</p>
                 <% } %>
            </tbody>
         </table>
      </main>
   

 


      
</body>
</html>