<%- include("./partials/head.ejs") %>
<style>
    
.section{
	display: flex;
    width: 100%;
    background: #fff;
}

.container { width: 90%;
    /* margin-left: 50px; */
    padding: 20px 35px;
    background-color:#FDF6F0;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .4);
	display: flex;
    grid-template-columns: 50% 60%; 
}

.LichHen{

	width: 40%;
    padding: 20px 10px;
    color: #000;
	left: 0%;
}

.LichHen p{
    font-size: 100%;
    font-weight: 600;
    /* margin-bottom: 10%; */
}

.LichHen .btn12{
    background-color: #F5C6AA;
	color: #fff;
	font-weight: 600;
    text-align: left;
    border: none;
	font-size: 18px;
}


.container-form {
    width: 60%;
    left: 0%;
   padding: 20px 10px; 
}
.container-form form {
	display: grid;
	grid-row-gap: 20px;
   
}
.container-form form p {
	font-weight: 600;
	margin-right: 10%;
}
.container-form .form-field {
	display: flex;
	justify-content: space-between;
	
}

input,select,textarea {
	padding: 5px 20px;
}
.container-form .btn {
	background-color: #F5C6AA;
	color: #fff;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}
.container-form .btn:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}


</style>
<body>
   <%- include("./partials/nav.ejs") %>
   
   <div class="section">
      <%- include("./partials/sidenav.ejs") %>
      <div class="container">
        <div class="LichHen">
            <p>Quý khách có các thắc mắc liên quan đến phương pháp điều trị, chính sách ưu đãi, biểu
                phí, hình thức thanh toán vui lòng để lại thông tin và Da liễu Sài Gòn sẽ liên hệ lại, hoặc Quý
                khách có thể gọi đến tổng đài 1900555553 để được hỗ trợ. Cảm ơn Quý khách.
            </p>
            <div class="btn12">
                <p>Bạn đã chọn dịch vụ:  <%= specialization.specializations  %> </p>
                <p>Giá khám bệnh:  <%= specialization.price  %> </p>
                <p>Bác sĩ:  <%= doctor.name  %>  </p>
                <p>Ngày: <%= schedule.date  %>  </p>
                <p><%= schedule.hour  %>  </p>
                <p>Giới hạn chỗ: <%= schedule.bookingSlot%>  </p>
            </div>
        </div>
       

       <div class="container-form">
          <form action="/appointmentform">
             <h2 class="heading heading-yellow">Đặt lịch</h2>

             <div class="form-field">
                <p>Họ và tên</p>
                <input type="text" name="fullname"  required="required">
             </div>
             <div class="form-field">
                <p>Số điện thoại</p>
                <input type="text" name="phone"  required="required">
             </div>
             <div class="form-field">
                <p>Ngày sinh</p>
                <input type="date" name="birthday"  required="required">
             </div>
             <div class="form-field">
             <p>Địa chỉ</p>
             <input type="text" name="address"  required="required">
          </div>  
          <div class="form-field">
            <p>Giới tính</p>
            <select name="gender" id="gender">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>

              </select>
         </div>  

           <div class="form-field">
              <p>Triệu chứng</p>
              <textarea name="note" id="note"> </textarea>
            </div>
            <input type="hidden" name="user_id" value="<%= user._id%>">
            <input type="hidden" name="schedule_id" value="<%= schedule._id%>">
            <input type="hidden" name="doctor_id" value="<%= doctor._id%>">
           <button class="btn">Xác nhận</button>
           
           
          </form>
       </div>
       
    </div>
   
</div>



<script>
      const form = document.querySelector('form');
      form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const fullname = form.fullname.value;
         const phone = form.phone.value;
         const birthday = form.birthday.value;
         const gender = document.getElementById("gender").value;
         const address = form.address.value;
         const note =document.getElementById("note").value;
         const user_id = form.user_id.value;
         const schedule_id = form.schedule_id.value;
         const doctor_id = form.doctor_id.value;
         try{
            const res = await fetch('/appointmentform',{
               method:'POST',
               body:JSON.stringify({fullname,phone,birthday,gender,address,note,user_id,schedule_id,doctor_id}),
               headers:{'Content-Type':'application/json'} 
            })
            const data =await res.json();

            if(data.appointment){
               location.assign('/appointmentinfo');
            }else{
               console.log(err);
            }

         }catch(err){
            console.log(err);
         }
      })
</script>


</body>
</html>