<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/Appointment.css">
<body>
   <%- include("./partials/nav.ejs") %>
   
   <section>
      <%- include("./partials/sidenav.ejs") %>
      <!-- <div class="containerAppointment">
         <ul>
            <% if(specializations.length>0){ %>
               <% specializations.forEach(specialization=> { %>
            <li>
               <div class="bottom">
                  <a href="<%= specialization._id %>">
                     <%= specialization.specializations  %>
                  </a>
               </div>
                <img src="<%= specialization.image  %>" alt="">
            </li>
            <% }) %>
            <% }else{%>
              <p>Không có lịch hẹn nào...</p>
              <% } %>
         </ul>
        
     </div> -->

 

         
   <!-- <script>
      const userId=  document.querySelector('.userId');
      const form = document.querySelector('form');
      form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const fullname = form.fullname.value;
         const phone = form.phone.value;
         const birthday = form.birthday.value;
         const gender = document.getElementById("gender").value;
         const service = document.getElementById("service").value;
         const address = form.address.value;
         const appointmentday = form.appointmentday.value;
         const note =document.getElementById("note").value;
         const user_id = form.user_id.value;
         const status = form.status.value;
         
         try{
            const res = await fetch('/appointment',{
               method:'POST',
               body:JSON.stringify({fullname,phone,birthday,gender,service,address,appointmentday,note,user_id,status }),
               headers:{'Content-Type':'application/json'} 
            })
            const data =await res.json();

            if(data.appointment){
               alert('Đặt lịch thành công');
            }else{
               console.log(err);
            }

         }catch(err){
            console.log(err);
         }
      })
         
   </script> -->
</body>
</html>