<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
   <%- include("./partials/nav.ejs") %>

  
  <section>
    <%- include("./partials/sidenav.ejs") %>

    <div class="table-box">

      <div class="table-row table-head">
          <div class="table-cell first-cell">
              <p>Họ và tên</p>
          </div>
          <div class="table-cell">
              <p>Chuyên khoa khám bệnh</p>
          </div>
          <div class="table-cell">
            <p>Ngày đặt khám</p>
        </div>
          <div class="table-cell last-cell">
              <p>Trạng thái</p>
          </div> 
          <div class="table-cell last-cell">
            <p>Chi tiết</p>
        </div> 
      </div>
      <% if(appointments.length>0){ %>
        <% appointments.forEach(appointment => { %>
        <div class="table-row">
          <div class="table-cell first-cell">
              <p><%= appointment.fullname %></p>
          </div>
          <div class="table-cell">
              <p><%= appointment.service %></p>
          </div>
          <div class="table-cell">
            <p><%= appointment.appointmentday %></p>
        </div>
        <div class="table-cell">
          <p><%= appointment.status %></p>
      </div>
          <div class="table-cell last-cell">
              <a href="/appointmentdetail/<%= appointment._id %>">Chi tiết</a>
              <a href=""class="trashBin" data-doc="<%= appointment._id %> " >
                <img src="/HinhAnh/trash.png" alt="#" >
              </a>
            </div>   
      </div>
      <% }) %>
      <% }else{%>
        <p>Không có lịch hẹn nào...</p>
        <% } %>
      </div>  
</section>

<script>
  const trashBin = document.querySelector('.trashBin');
  trashBin.addEventListener('click',(e)=>{
    const id = `/appointmentinfo/${trashBin.dataset.doc}`;
    fetch(id,{
      method:'DELETE',
    })
    .then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
  })
</script>

</body>

</html>
