<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentSpecial.css">

<body>
   <%- include("./partials/nav.ejs") %>
   
   <div class="section">
      <%- include("./partials/sidenav.ejs") %>

      <main>

        <% if(schedules.length>0){ %>
           <% schedules.forEach(schedule=> { %>
     <div class="wrapper">
        <div class="left">
            <h2> Ngày: <%= schedule.date %> </h2>
         </div>
        <div class="right">
            <div class="info">
                <h3>Thông tin</h3>
                <div class="info_data">
                     <div class="data">
                        <h4>Giờ</h4>
                        <p><%= schedule.hour %> </p>
                     </div>
                     <div class="data">
                        <h4>Giới hạn </h4>
                        <p><%= schedule.bookingSlot %> </p>
                     </div>
                  </div>
            </div>
            <div class="social_media">
                <ul style="list-style: none;">
                  <a class='button' href="/appointmentform/<%= schedule._id %>">
                   Đặt lịch
                 </a>
                 </ul>
              </div>
        </div>
    </div>
    <% }) %>
    <% }else{%>
      <p>Bác sĩ chưa có ngày làm</p>
      <% } %>
</div>

</main>



      <div>

</body>
</html>