<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="section">
        <%- include("./partials/sidebarDoctor.ejs") %>
        
        <div class="table-box">
            <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
              <input type="text" placeholder="Tìm kiếm theo giờ" id='searchBar'>
              <label for="check" class="icon">
                <i class="fas fa-search"></i>
              </label>
            </div>
          </div>
          <table class="content-table">
            <thead>
              <tr>
                <th>Ngày làm việc</th>
                <th>Giờ làm việc</th>
                <th>Giới hạn chỗ</th>
                <th>Xem lịch đặt khám</th>
                <th>Chi tiết</th>
                <th>Xóa</th>
              </tr>
            </thead>
            <tbody>
              <% if(schedules.length>0){ %>
                <% schedules.forEach(schedule => { %>
              <tr>
                <td><%=schedule.date.toString() %></td>
                <td><%=schedule.hour %></td>
               <td><%=schedule.bookingSlot %></td>
               <td>
                 <a href="/doctorPageScheduleAppointment/<%=schedule._id %>">
                  Lịch đặt khám
                </a>
                </td>
                <td>
                  <a style="text-decoration: none;color: #000;" 
                  href="/doctorPageScheduleDetail/<%=schedule._id %>">Xem lại</a>
                </td>
                <td>
                  <a  class="trashBin" data-doc="<%= schedule._id %>">
                    <img src="/HinhAnh/trash.png" alt="#">
                  </a>
              </td>
              </tr>
              <% }) %>
              <% }else{%>
                <p>Chưa có ngày làm...</p>
                <% } %>
             
            </tbody>
          </table>
            
       

        
            </div>  
    </section>


    <script>
        const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
      const id = `/doctorPageSchedule/${trashBin.dataset.doc}`;
      fetch(id,{
      method:'DELETE',
    }).then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
    })
    })

    const searchBar = document.getElementById('searchBar');
    searchBar.addEventListener('keyup', (e) => {
    const term = e.target.value.toLowerCase();
    const rows = document.getElementsByClassName(".table-row");
    Array.from(rows).forEach((row)=>{
      const firstsearchItem = row.firstElementChild;
      const searchItem = firstsearchItem.firstElementChild.textContent;
        if(searchItem.toLowerCase().indexOf(e.target.value) != -1){
          row.style.display='block';
      }else{
        row.style.display='none';
      }
    })
    
    

  });


    

    </script>
</body>
</html>