<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
   <%- include("./partials/nav.ejs") %>

  
  <section>
    <%- include("./partials/sidebarDoctor.ejs") %>

    <div class="table-box">

      <div class="table-row table-head">
          <div class="table-cell first-cell">
              <p>Mã bệnh nhân</p>
          </div>
          <div class="table-cell">
              <p>Trạng thái</p>
          </div>
        
      </div>
      
      <% if(appointments.length>0){ %>
        <% appointments.forEach(appointment => { %>
        <div class="table-row">
          <div class="table-cell first-cell">
              <p>
                 <a href="/doctorPageNewAppointmentDetail/<%= appointment._id %>"><%= appointment.user_id%>
                </a>
              </p>
          </div>
       
          <div class="table-cell">
            <p><%= appointment.status %></p>
        </div>
      
      </div>
      <% }) %>
      <% }else{%>
        <p>Không có lịch hẹn nào...</p>
        <% } %>
      </div>  
</section>

<script>
  const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
    const id = `/appointmentinfo/${trashBin.dataset.doc}`;
    fetch(id,{
      method:'DELETE',
    })
    .then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
  })
  })
  
  

</script>

</body>

</html>
