<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/info.css">
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="section"> 
      <%- include("./partials/sidebarDoctor.ejs") %> 
      <div class="container">
        <div class="title">Thông tin bác sĩ</div>
        <div class="content">
          <form action="/doctorPageInfo">
            <div class="user-details">
                 <div class="input-box">
                <span class="details">Chuyên khoa</span>
                <input type="text" placeholder=" <%=specialization.specializations%>" disabled >
              </div>
              <% if(clinics.length>0){ %>
                <% clinics.forEach(clinic=> { %>
              <div class="input-box">
                <span class="details">Phòng khám</span>
                <input type="text" placeholder=" <%=clinic.name%>" disabled >
            </div>
              <% }) %>
              <% } %>
              <div class="input-box">
                <span class="details">Họ và tên</span>
                <input type="text" placeholder="<%=user.name %>" name='name'>
              </div>
              <div class="input-box">
                <span class="details">Nơi sinh</span>
                <input type="text" placeholder="<%=user.country %>" name='country' >
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="<%=user.email %>"  disabled >
              </div>
              <div class="input-box">
                <span class="details">Số điện thoại</span>
                <input type="text" placeholder="<%=user.phone %>" name='phone' >
              </div>
              <div class="input-box">
                <span class="details">Năm sinh</span>
                <input type="text" placeholder="<%=user.birthday %>" name='birthday' >
              </div>
              <div class="input-box">
                <span class="details">Facebook</span>
                <input type="text" placeholder="<%=user.facebook %>" name='facebook' >
              </div>
              <div class="input-box">
                <span class="details">Học vị</span>
                <input type="text" placeholder=" <%=user.description %>" name='description' >
              </div>
              <input type="hidden" value="<%=user._id %>" name='user_id' >
              <div class="input-box">
                <span class="gender-title">Giới tính</span>
                <div class="category">
                <select name="gender" id="gender">
                  <option > <%=user.gender %> </option>
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
  
                </select>
               </div>
             </div>
            </div>
            <div class="button">
              <input type="submit" value="Cập nhật">
            </div>
          </form>
          </div>
             
         
        </div>
      </div>

    </div>
  
<script>
   const form = document.querySelector('form');
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const name = form.name.value;
         const country = form.country.value;
         const phone = form.phone.value;
         const facebook = form.facebook.value;
         const birthday = form.birthday.value;
         const user_id = form.user_id.value;
         const description = form.description.value;
          const gender = document.getElementById('gender').value
        
         
            fetch('/doctorPageInfo',{
               method:'PUT',
               body:JSON.stringify({name,country, phone,facebook,birthday,user_id,gender,description}),
               headers:{'Content-Type':'application/json'} 
            })
            .then(response => response.json())
            .then(data => window.location.href=data.redirect)
            .catch(err=> console.log(err));
         })
</script>
</body>
</html>