<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
   <%- include("./partials/nav.ejs") %>

  
  <div class="section">
    <%- include("./partials/sidebarDoctor.ejs") %>

    <div class="table-box">
      <div class="box">
        <input type="checkbox" id="check">
        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm theo mã" id='searchBar'>
          <label for="check" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </div>
      </div>

      <table class="content-table">
      <thead>
        <tr>
          <th>Mã lịch hẹn</th>
          <th>Trạng thái</th>
          <th>Xem đơn thuốc</th>
        </tr>
      </thead>
      <tbody>
        <% if(appointments.length>0){ %>
          <% appointments.forEach(appointment=> { %>
        <tr>
          <td>
            <%=appointment._id %>
            </td>
          <td><%=appointment.status %></td>
         <td> <a href="/doctorPageExaminateDetails/<%=appointment._id%>">
          Chi tiết
        </a></td>
         
        </tr>
        <% }) %>
        <% }else{%>
          <p>Bạn không có lịch hẹn...</p>
          <% } %>
       
      </tbody>
    </table>
    
      </div>   
</section>

<script>
  const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
    const id = `/appointmentinfo/${trashBin.dataset.doc}`;
    fetch(id,{
      method:'DELETE',
    })
    .then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
  })
  })
  const searchInput = document.getElementById("searchBar");
      const rows = document.querySelectorAll("tbody tr");
      searchInput.addEventListener("keyup", (e)=> {
        const q = e.target.value.toLowerCase();
        Array.from(rows).forEach((row) => {
          const firstSearchItem = row.firstElementChild.textContent;
          if(firstSearchItem.toLowerCase().indexOf(e.target.value) != -1){
            row.style.display = 'table-row';
          } else {
            row.style.display = 'none';
      }
        });
      });
  

</script>

</body>

</html>
