<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="section">
        <%- include("./partials/sidebarDoctor.ejs") %>
        
        <div class="table-box">
            <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
              <input type="text" placeholder="Tìm kiếm theo giờ" id='searchBar'>
              <label for="check" class="icon">
                <i class="fas fa-search"></i>
              </label>
            </div>
          </div>
            <div class="table-row table-head">
                <div class="table-cell first-cell">
                    <p>Ngày làm việc</p>
                </div>
                <div class="table-cell">
                    <p>Giờ làm việc</p>
                </div>
                <div class="table-cell">
                    <p>Giới hạn chỗ</p>
                </div>
                <div class="table-cell last-cell">
                    <p>Xóa</p>
                </div>
              
            </div>
            
            <% if(schedules.length>0){ %>
              <% schedules.forEach(schedule => { %>

              <div class="table-row">
                <div class="table-cell first-cell">
                    <a href="/doctorpagescheduleappointment/<%= schedule._id %>"><%= schedule.date %></a>
                </div>
                
               <div class="table-cell">
                <p><%= schedule.hour %></p>
            </div>
              <div class="table-cell">
                <p><%= schedule.bookingSlot %></p>
            </div>
           
                <div class="table-cell last-cell">
                    <a href="" class="trashBin" data-doc="<%= schedule._id %> " >
                      <img src="/HinhAnh/trash.png" alt="#" >
                    </a>
                  </div>   
            </div>
            <% }) %>
            <% }else{%>
              <p>Chưa có ngày làm...</p>
              <% } %>
            </div>  
    </section>


    <script>
        const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
      const id = `/doctorPageSchedule/${trashBin.dataset.doc}`;
      fetch(id,{
      method:'DELETE',
    }).then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
    })
    })

    const searchBar = document.getElementById('searchBar');
    searchBar.addEventListener('keyup', (e) => {
    const term = e.target.value.toLowerCase();
    const rows = document.getElementsByClassName(".table-row");
    Array.from(rows).forEach((row)=>{
      const firstsearchItem = row.firstElementChild;
      const searchItem = firstsearchItem.firstElementChild.textContent;
        if(searchItem.toLowerCase().indexOf(e.target.value) != -1){
          row.style.display='block';
      }else{
        row.style.display='none';
      }
    })
    
    

  });


    

    </script>
</body>
</html>