
   <%- include("./partials/head.ejs") %>
   <link rel="stylesheet" type="text/css" href="/css/TrangChu.css">
</head>
   <body>
      <%- include("./partials/nav.ejs") %>
      <div class="blogs content">
        <h2>All Blogs</h2>
    
        <% if (users.length > 0) { %>
            <% users.forEach(user=> { %>
              <a class="single" href="/blogs/<%= user._id %>">
                <h3 class="title"><%= user.email %></h3>
                <p class="snippet"><%= user.password %></p>
              </a>
            <% }) %>
          <% } else { %>
            <p>There are no blogs to display...</p>
          <% } %>
        
      </div> 
   </body>
   </html>