<%- include("../../partials/head.ejs") %>

<link rel="stylesheet" type="text/css" href="/css/appointmentForm.css">

<body>
   <%- include("../../partials/nav.ejs") %>
   
   <div class="section">
      <%- include("../../partials/sidebarDoctor.ejs") %>
      <div class="container">
        <div class="LichHen">
            <p>Quý khách vui lòng xem kỹ lại các thông tin đã chọn và điền đúng thông tin cá nhân. Bệnh viện sẽ tiến hành liên lạc với quý khách trong vòng 15-30p để xác nhận lịch hẹn của quý khách. Nếu có thắc mắc, quý khách có thể gọi đến tổng đài 1900555553 để được hỗ trợ. Da liễu Sài Gòn xin cảm ơn quý khách !!
            </p>
            <div class="btn123">
                <% if(specialization){%>
                <p>Bệnh nhân đã chọn dịch vụ:  <%= specialization.specializations  %> </p>
                <p>Giá khám bệnh:  <%= specialization.price  %> </p>
                <% }%>
                <% if(doctor){%>
                <p>Bác sĩ:  <%= doctor.name  %>  </p>
                <% }%>
                <% if(schedule){%>
                    <p>Ngày: <%= schedule.date  %>  </p>
                    <p><%= schedule.hour  %>  </p>
                    <p>Chỗ: <%= schedule.bookingSlot  %>  </p>
                    <% }%>
                </div>
        </div>
        <div class="container-form">
          <form action="/doctorPageNewAppointmentDetail">
             <h2 class="heading heading-yellow">Xác nhận lịch hẹn </h2>
             <div class="form-field">
                <p>Email bệnh nhân</p>
                <input type="text" placeholder=" <%= userId.email%> " disabled>
             </div>
             <div class="form-field">
                <p>Họ và tên</p>
                <input type="text" placeholder="<%=appointment.fullname%>" disabled>
             </div>
             <div class="form-field">
                <p>Số điện thoại</p>
                <input type="text" placeholder="<%=appointment.phone%>" disabled>
             </div>
             <div class="form-field">
                <p>Ngày sinh</p>
                <input type="text" placeholder="<%=appointment.birthday%>" disabled>
             </div>
             <div class="form-field">
             <p>Địa chỉ</p>
             <input type="text" placeholder="<%=appointment.address%>" disabled>
          </div>  
          <div class="form-field">
            <p>Giới tính</p>
            <input type="text" placeholder="<%=appointment.gender%>" disabled>
         </div>  
         <div class="form-field">
            <p>Trạng thái</p>
            <select name="status" id="status">
                <option><%=appointment.status%></option>
                <option value="Chấp nhận">Chấp nhận</option>
                <option value="Hủy bỏ">Hủy bỏ</option>
            </select>
            <input type="hidden" name="appointment_id" value="<%=appointment._id%>">

         </div>
           <input type="submit" class="btn" placeholder="Cập nhật"></input>
           
           
          </form>
       </div>
       
    </div>
   
</div>





      <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const status= document.getElementById("status").value;
         const appointment_id = form.appointment_id.value;
            fetch('/doctorPageNewAppointmentDetail',{
               method:'PUT',
               body:JSON.stringify({appointment_id,status}),
               headers:{'Content-Type':'application/json'} 
            })
            .then(response => response.json())
            .then(data => window.location.href=data.redirect)
            .catch(err=> console.log(err));
         })
   
    </script>



</body>
</html>