<%- include("../../partials/head.ejs") %>
<link rel="stylesheet" href="/css/info.css">
<body>
   
  <%- include("../../partials/nav.ejs") %>
    <div class="section"> 
      <%- include("../../partials/sidebarAdminPage.ejs") %>
        <div class="container">
        <div class="title">Thông tin bác sĩ</div>
        <div class="content">
          <form action="/doctorPageInfo">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Họ và tên</span>
                <input disabled type="text" placeholder="<%=doctor.name %>" name='name'>
              </div>
              <div class="input-box">
                <span class="details">Nơi sinh</span>
                <input disabled  type="text" placeholder="<%=doctor.country %>" name='country' >
              </div>
              <div class="input-box">
                <span class="details">Email</span>
                <input  disabled  type="text" placeholder="<%=doctor.email %>"   >
              </div>
              <div class="input-box">
                <span class="details">Số điện thoại</span>
                <input disabled  type="text" placeholder="<%=doctor.phone %>" name='phone' >
              </div>
              <div class="input-box">
                <span class="details">Năm sinh</span>
                <input disabled  type="text" placeholder="<%=doctor.birthday %>" name='birthday' >
              </div>
              <div class="input-box">
                <span class="details">Facebook</span>
                <input   type="text" value="<%=doctor.facebook %>" name='facebook' disabled >
              </div>
              <div class="input-box">
                <span class="details">Giới tính</span>
                <input type="text" placeholder=" <%=doctor.gender %>" disabled>
                

              </div>
              <div class="input-box">
                <span class="details">Học vị</span>
                <input type="text" placeholder=" <%=doctor.description %>" name='description' disabled>
            </div>
              
              <div class="input-box">
                <span class="details">Chuyên khoa</span>
                <input disabled  type="text" placeholder=" <%=specialization.specializations%>" disabled >
            </div>
                  
          <% if(clinics.length>0){ %>
            <% clinics.forEach(clinic=> { %>
          <div class="input-box">
            <span class="details">Phòng khám</span>
            <input type="text" placeholder=" <%=clinic.name%>" disabled >
        </div>
          <% }) %>
          <% } %>
          <div class="input-box">
            <span class="details">Tổng số lịch hẹn đã khám: </span>
            <input disabled  type="text" placeholder=" <%=appointments.length%>" disabled >
        </div>
        <div class="input-box">
          <span class="details">Xem ngày làm việc</span>
          <a href="/adminpageDoctorAccountCalendar/<%=doctor._id %>">Chi tiết</a>
      </div>
            </div>
         
            <div class="button">
              <input type="submit" value="Xác nhận">
            </div>
          </form>
        </div>
      </div>

    </div>
  
    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) =>{
            e.preventDefault();
            location.assign(`/adminPageDoctorAccount`);
        })
    </script>
</body>
</html>