<%- include("../../partials/head.ejs") %>
<link rel="stylesheet" href="/css/adminDocRole.css">

<body>
  <%- include("../../partials/nav.ejs") %>
    <div class="section">
      <%- include("../../partials/sidebarAdminPage.ejs") %>
        <div class="center">
            <h1>Thông tin chuyên khoa</h1>
            <form action="/adminPageSpecialization">
              <div class="txt_field">
                <input type="text" name="specializations" required value="<%=specializations.specializations %>">
                <input type="hidden" name="specializations_id" required value="<%=specializations._id %>">
                <span></span>
                <label>TÊN CHUYÊN KHOA</label>
              </div>
              <div class="txt_field">
                <input type="input" name="price" value="<%=specializations.price %>">
                <label>GÍA</label>
              </div>
              <div class="txt_field">
                <input type="text" name='description' required value="<%=specializations.description %>">
                <span></span>
                <label>MÔ TẢ</label>
              </div>
              
              <input type="submit" value="CẬP NHẬT">
              <div class="signup_link">
              </div>
            </form>
          </div>
        </div>




    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async(e)=>{
            e.preventDefault();
            const specializations_id =form.specializations_id.value;
            const description = form.description.value;
    
            const price = form.price.value;
            fetch('/adminPageSpecialization', {
                method: 'PUT', 
                body: JSON.stringify({specializations_id,description,price}),
                headers: {'Content-Type': 'application/json',},
            })
            .then(response => response.json())
            .then(data => window.location.href=data.redirect)
            .catch(err=> console.log(err));
        })

    </script>

</body>
</html>
