<%- include("./partials/head.ejs") %>
<link rel="stylesheet" type="text/css" href="/css/appointmentForm.css">
<body>
   <%- include("./partials/nav.ejs") %>
   
   <div class="section">
    <%- include("./partials/sidebarAdminPage.ejs") %>
      <div class="container">
        <div class="LichHen">
            <p>Quý khách có các thắc mắc liên quan đến phương pháp điều trị, chính sách ưu đãi, biểu
                phí, hình thức thanh toán vui lòng để lại thông tin và Da liễu Sài Gòn sẽ liên hệ lại, hoặc Quý
                khách có thể gọi đến tổng đài 1900555553 để được hỗ trợ. Cảm ơn Quý khách.
            </p>
            <div class="btn123">
                <% if(specialization){%>
                <p>Bệnh nhân đã chọn dịch vụ:  <%= specialization.specializations  %> </p>
                <p>Giá khám bệnh:  <%= specialization.price  %> </p>
                <% }%>
                <% if(doctor){%>
                <p>Bác sĩ:  <%= doctor.name  %>  </p>
                <% }%>
                <% if(schedule){%>
                    <p>Ngày: <%= schedule.date  %>  </p>
                    <p><%= schedule.hour  %>  </p>
                    <p>Chỗ: <%= schedule.bookingSlot  %>  </p>
                    <% }%>
                </div>
        </div>
        <div class="container-form">
          <form action="/appointmentform">
             <h2 class="heading heading-yellow">Đặt lịch</h2>
             <div class="form-field">
                <p>Mã bệnh nhân</p>
                <input type="text" placeholder="<%=appointment.user_id%>" disabled>
             </div>

             <div class="form-field">
                <p>Họ và tên</p>
                <input type="text" placeholder="<%=appointment.fullname%>" disabled>
             </div>
             <div class="form-field">
                <p>Số điện thoại</p>
                <input type="text" placeholder="<%=appointment.phone%>" disabled>
             </div>
             <div class="form-field">
                <p>Ngày sinh</p>
                <input type="text" placeholder="<%=appointment.birthday%>" disabled>
             </div>
             <div class="form-field">
             <p>Địa chỉ</p>
             <input type="text" placeholder="<%=appointment.address%>" disabled>
          </div>  
          <div class="form-field">
            <p>Giới tính</p>
            <input type="text" placeholder="<%=appointment.gender%>" disabled>
         </div>  
         <div class="form-field">
            <p>Trạng thái</p>
            <input type="text" placeholder="<%=appointment.status%>" disabled>
         </div>
         <div class="form-field">
            <p>Triệu chứng</p>
            <input type="text" placeholder="<%=appointment.note%>" disabled>
         </div>
           <a href="/adminPageAppointment"  class="btn">Xác nhận</a>
           
           
          </form>
       </div>
       
    </div>
   
</div>






</body>
</html>