<%- include("../../partials/head.ejs") %>

<link rel="stylesheet" href="/css/adminDocRole.css">

<body>
  <%- include("../../partials/nav.ejs") %>

    <div class="section">
      <%- include("../../partials/sidebarAdminPage.ejs") %>
      <div class="center">
         <h1>Chọn phòng khám</h1>
         <form action="/adminPageDoctorAccountDetails" id='form1'>
           <div class="txt_field">
             <select name="clinic" id="clinic">
               <% if(clinics.length>0){ %>
                  <% clinics.forEach(clinic=> { %>
                     <option value="<%= clinic.name %>"><%= clinic.name%></option>
                     <% }) %>
                     <% }else{%>
                       <p>Không có phòng nào nào...</p>
                       <% } %>
             </select>
           </div>
 
             <input type="hidden" name='user_id' required value="<%=user._id %>">
           
           <input type="submit" value="CẬP NHẬT">
        
         </form>
       </div>
      </div>

    <script>
        const form = document.getElementById("form1");
        form.addEventListener('submit', async (e)=>{
         e.preventDefault();
         const clinic = document.getElementById("clinic").value;
         const user_id = form.user_id.value;
            fetch('/adminPageDoctorAccountDetails',{
               method:'PUT',
               body:JSON.stringify({clinic,user_id}),
               headers:{'Content-Type':'application/json'} 
            })
            .then(response => response.json())
            .then(data => window.location.href=data.redirect)
            .catch(err=> console.log(err));
         })
   
    </script>
</body>



</html>