<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/appointmentinfo.css">
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="section">
    <%- include("./partials/sidebarAdminPage.ejs") %>
    <div class="table-box">
      <div class="box">
        <input type="checkbox" id="check">
        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm theo tên" id='searchBar'>
          <label for="check" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </div>
      </div>
      <table class="content-table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Ngày tạo tài khoản</th>
          <th>Role</th>
          <th>Phân quyền</th>
          <th>Xóa tài khoản</th>
        </tr>
      </thead>
      <tbody>
        <% if(users.length>0){ %>
          <% users.forEach(user=> { %>
        <tr>
          <td><%=user.email%></td>
          <td><%=user.createdAt.toString().split("GMT")[0] %></td>
          <td>
            <%=user.role %>
          </td>
          <td>
            <a href="/adminPageUserAccountDetails/<%= user._id %>">Phân quyền</a>
          </td>
 
          <td>
            <a  class="trashBin" data-doc="<%= user._id %>">
              <img src="/HinhAnh/trash.png" alt="#">
            </a>
        </td>
        </tr>
        <% }) %>
        <% }else{%>
          <p>Không có tài khoản nào...</p>
          <% } %>
       
      </tbody>
    </table>
    
      </div> 
      </section>
  

    <script>
  const trashBins = document.querySelectorAll('.trashBin');
  Array.from(trashBins).forEach((trashBin)=>{
    trashBin.addEventListener('click',(e)=>{
      const id = `/adminPageUserAccount/${trashBin.dataset.doc}`;
      fetch(id,{
      method:'DELETE',
    }).then(response => response.json())
    .then(data => window.location.href=data.redirect)
    .catch(err=> console.log(err));
    })
    })
    const searchInput = document.getElementById("searchBar");
      const rows = document.querySelectorAll("tbody tr");
      searchInput.addEventListener("keyup", (e)=> {
        const q = e.target.value.toLowerCase();
        Array.from(rows).forEach((row) => {
          const firstSearchItem = row.firstElementChild.textContent;
          if(firstSearchItem.toLowerCase().indexOf(e.target.value) != -1){
            row.style.display = 'table-row';
          } else {
            row.style.display = 'none';
      }
        });
      });
    </script>
</body>
</html>