<%- include("../../partials/head.ejs") %>
<style>
    .section{
   display: flex;
   width: 100%;
   background: #fff;

}
.charts {
  display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
  /* margin:0 10px; */

}
.charts__left{
  padding: 25px;
	border-radius: 5px;
	background: #ffffff;
	box-shadow: 5px 5px 13px #ededed, 5px 5px 13px #ffffff;
	position: relative;
}
.charts__left__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .charts__left__title > div > h1 {
	font-size: 24px;
	color: #2e4a66;
	margin-bottom: 5px;
  }
  
  .charts__left__title > div > p {
	font-size: 14px;
	font-weight: 700;
	color: #a5aaad;
  }
  
  .charts__left__title > i {
	color: #ffffff;
	font-size: 20px;
	background: #ffc100;
	border-radius: 200px 0px 200px 200px;
	-moz-border-radius: 200px 0px 200px 200px;
	-webkit-border-radius: 200px 0px 200px 200px;
	border: 0px solid #000000;
	padding: 15px;
  }
  
  @media only screen and (max-width: 1000px) {
    .btn12{
      display: none;
    }

  .charts {
	  grid-template-columns: 1fr;
    margin: auto auto;
 align-items: center;
 justify-content: center;
	  }

  }
</style>  
   <body>
    <%- include("../../partials/nav.ejs") %>
<div class="section">
  <%- include("../../partials/sidebarAdminPage.ejs") %>
  <div class="charts">
          
          <div class="charts__left">
            <div class="charts__left__title">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex1"></div>
          </div>
          
          <div class="charts__left">
            <div class="charts__left__title">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex2"></div>
          </div>
          
          <div class="charts__left">
            <div class="charts__left__title">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex3"></div>
          </div>
          
          <div class="charts__left">
            <div class="charts__left__title">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div id="apex4"></div>
          </div>

   </div>
        
 


   

</div>

<script>
// -------------------------------------------------- Chart 1 ------------------------
var  patients = <%- JSON.stringify(patients) %> ;
var numberPatient = [];
var frequency = [];
var firstDay = '';
     for( i=0; i<patients.length ; i++){
     
        if( patients[i].createdAt.toString().split("T")[0] 
        != firstDay){
          frequency.push(1);
          numberPatient.push(patients[i].createdAt.toString().split("T")[0])
        }else{
          frequency[frequency.length-1]++
        }
        firstDay=patients[i].createdAt.toString().split("T")[0];
       }
var options1 = {
          series: [{
            name: "Desktops",
            data: frequency
        }],
          chart: {
          height: 230,
          type: 'line',
          zoom: {
            enabled: false
          }
        },
        responsive: [{
    
          options: {
            chart: {
              width: 300
            },
            legend: {
              position: 'bottom',
           
            }
          }
        }],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'straight'
        },
        title: {
          text: 'Number of the created patient accounts',
          align: 'left'
        },
        grid: {
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.4
          },
        },
        xaxis: {
          categories: numberPatient,
        }
        };
        var chart1 = new ApexCharts(document.querySelector("#apex1"), options1);
        chart1.render();
//------------------------------------------- Chart 2--------------- 
var newSpecializations =  <%- JSON.stringify(specializationsName) %> ;
var doctors =  <%- JSON.stringify(doctors) %> ;
var k =1
var mangB = []
for(i=0; i < doctors.length ; i++  ){
  mangB.push(k)
}
var doctorArray = [];
var specializationArray = []
// Đếm chuyên khoa có bao nhiêu bác sĩ bỏ vô mảng + lấy giá trị unique của id bỏ vô mảng: 
for(i=0; i < doctors.length ; i++  ){
  dem = 1;
  for( j= i+1; j < doctors.length;j++){
    if( doctors[i].specialization_id == doctors[j].specialization_id ){
      dem++;
      mangB[j]=0;
    }
  }
  if(mangB[i]!=0){
    doctorArray.push(dem);
    specializationArray.push(doctors[i].specialization_id);
    
  }
}
// So sánh mảng chứa unique của id & mảng chứa dict có key: ._id => cho vào mảng mới theo mảng chứa unique của id 
var array = []
for (i=0 ;i< specializationArray.length;i++){
  for (j=0;j<newSpecializations.length;j++){
    if(specializationArray[i] == newSpecializations[j]._id ){
      array.push('Bác sĩ'+'\n'+ newSpecializations[j].specializations)
      break
    }
  }
}
var options2 = {
          series: doctorArray,
          chart: {
          width: 500,
          type: 'pie',
        },
        labels: array,
        responsive: [{
          breakpoint: 500,
          options: {
            chart: {
              width: 300
            },
            legend: {
              position: 'bottom',
           
            }
          }
        }]
        };

var chart2 = new ApexCharts(document.querySelector("#apex2"), options2);
chart2.render();


    //----------------------------------Chart 3--------------------- 
   const appointments =  <%- JSON.stringify(appointments) %> ;
   var appointmentArray = [];
    var appointmentName = [];
    var a=0,b=0,c='',d='';
    Array.from(appointments).forEach((appointment)=>{
      if(appointment.status=="Đã khám"){
        a++;
        c=appointment.status;
      }else if(appointment.status=="Hủy bỏ"){
        b++;
        d=appointment.status
      }
    })
   appointmentArray.push(a,b)
   appointmentName.push(c,d)
    var options3 = {
          series: [{
          name: 'Đơn hẹn bệnh nhân',
          data: appointmentArray
        }],
          chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: 'top', // top, center, bottom
            },
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val + "\n"+"Đơn";
          },
          offsetY: 20,
          style: {
            fontSize: '12px',
            colors: ["#304758"]
          }
        },
        responsive: [{
    
    options: {
      chart: {
        width: 300
      },
      legend: {
        position: 'bottom',
     
      }
    }
  }],
        xaxis: {
          categories: appointmentName,
          position: 'top',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: 'gradient',
              gradient: {
                colorFrom: '#D8E3F0',
                colorTo: '#BED1E6',
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              }
            }
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val +  "\nĐơn";
            }
          }
        
        },
        title: {
          text: 'Đơn đã khám và hủy bỏ',
          floating: true,
          offsetY: 330,
          align: 'center',
          style: {
            color: '#444'
          }
        }
        };
       
        var chart3 = new ApexCharts(document.querySelector("#apex3"), options3);
        chart3.render();
// --------------------------------Chart 4-----------------------------
const comAppointments =  <%- JSON.stringify(comAppointments) %> ;
var numbercomAppointments = [];
var frequency1 = [];
var firstDay1 = '';
     for( i=0; i<comAppointments.length ; i++){
     
        if( comAppointments[i].createdAt.toString().split("T")[0] 
        != firstDay1){
          frequency1.push(1);
          numbercomAppointments.push(comAppointments[i].createdAt.toString().split("T")[0])
        }else{
          frequency1[frequency1.length-1]++
        }
        firstDay1=comAppointments[i].createdAt.toString().split("T")[0];
       }

var revenue = []
for(i=0;i<frequency1.length;i++){
  revenue.push(frequency1[i]*500000)
}
var options4 = {
          series: [{
          name: 'Doanh thu',
          data: revenue
        }],
          chart: {
          height: 350,
          type: 'line',
        },
        forecastDataPoints: {
          count: 7
        },
        stroke: {
          width: 5,
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: numbercomAppointments,
          tickAmount: 5,
          labels: {
            formatter: function(value, timestamp, opts) {
              return opts.dateFormatter(new Date(timestamp), 'dd MMM')
            }
          }
        },  responsive: [{
    
    options: {
      chart: {
        width: 300
      },
      legend: {
        position: 'bottom',
     
      }
    }
  }],
        title: {
          text: 'Revenue from completed appointments',
          align: 'left',
          style: {
            fontSize: "16px",
            color: '#666'
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            gradientToColors: [ '#FDD835'],
            shadeIntensity: 1,
            type: 'horizontal',
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100]
          },
        },
        yaxis: {
          min: 0,
          max: 10000000
        }
        };

var chart4 = new ApexCharts(document.querySelector("#apex4"), options4);
chart4.render();
</script>
</body>
</html>